body {
  padding: 0 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #04534d, rgb(255, 255, 255));
}
.headerbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid white;
  padding: 1rem 2rem;
 
}
.headtitle {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  padding:1em 1em 1em 1em;
  border: solid rgb(255, 255, 255) 1px;
}
main {
  margin-top: 2rem;
  display:inline-flex;
  flex-direction:row;
  gap: 10px;
  color: white;
  padding: 2rem 2rem 2rem 2rem;
  background-color: #04534d;
  border: 4px solid white;
}
.notes {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 25px 0px 0px;
  background-color: #04534d;
  border-right: 2px solid white;
}

.mynotelist {
  margin-top: 2rem;
  flex-direction: column;
  gap: 20px;
  padding: 0px 25px 0px 0px;
  background-color: #04534d;
}
.title {
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  color:white;
}
.remaintext {
  text-align: right;
  opacity: 0.9;
  color: white;
  font-size: 20px;
}
Input {
  border: 1px solid white;
  background-color: transparent;
  outline: none; 
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 0.4rem;
  color: white;
  padding: 0.7rem 1rem;
  min-width: 400px;
}

Input::placeholder {
  color: white;
}

Input[type="search"] {
  border: 0;
  border-bottom: 2px solid white;
  border-radius: 0;
}

Input[type="submit"] {
  cursor: pointer;
}

Input[type="submit"]:hover {
  background-color: rgb(44, 44, 148);
  color: white;
  font-weight: 700;
}

textarea {
  height: 10rem;
  resize: none;
  background-color: bisque;
  font-size: 20px;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.listnote {
  max-width: 300px;
  background-color: rgb(255, 253, 129);
  border: 10px solid white;
  border-radius: 0.3rem;
  display: flex;
  padding: 30px 30px 30px 30px;
  flex-direction: column;
  justify-content: space-between;
  color: black;
}
.bottomnote {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  background-color: #021f1d;
  text-align: center;
  padding: 0.5em 2em;
  margin: 2px;
  cursor: pointer;
  font-size: 0.8rem;
}

button[data-action="Hapus"] {
  color: #ff6a6a;
}

button[data-action="Arsipkan"],
button[data-action="Jangan diarsip"] {
  color: #49ff00;
}

button[data-action="Hapus"]:hover {
  color: rgb(0, 0, 0);
  background-color: #fd5d5d;
}

button[data-action="Arsipkan"]:hover,
button[data-action="Jangan diarsip"]:hover {
  color: rgb(0, 0, 0);
  background-color: #49ff00;
}
